.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background: rgb(32,69,129);
  background: linear-gradient(180deg, rgba(32,69,129,1) 29%, rgba(1,23,38,1) 100%);  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1A1D28;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:#EAECFF;
  font-size: 1rem;
}
a:hover{
  color:#6E83CF;

}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  margin-top: 0.5rem;
  position: sticky;
  margin-bottom: 0;

}
#category{
  /* text-align: center; */
  /* display: flex; */
  width: 280px;
  font-size: 0.8rem;
  background: transparent;
  color:#EAECFF;
  border-color:#EAECFF ;
  border-radius: 10px;
  /* justify-content: center; */
  margin: 0 auto;
  padding: 5px;
  margin-top: 0;

}
/* .img{
  width: 100px;
  height: 50%;
  margin-left: 50px;
} */

.movie-card{
text-align: center;
}

.card-img{
width: 270px; 
/* height: 550px; */

 }
.card-img{
  cursor: pointer;
  }

  /* .card-img{
   transform: scale(0.5);
   color: transparent;
      } */

      /* .card-img-small{
        width: 250px;
      } */

h1{
  color:#EAECFF;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;

}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  padding: 5px 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  font-size: medium;
  margin-top: 0.5rem;
}
.movie__description-hidden{
  visibility: hidden;
  display: none;
}
.movie__description-visible{
  visibility: visible;
  display: block;
}
p{
  color:#EAECFF;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
}
h3{
  color:#6E83CF;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}
h4{
  color:#EAECFF;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}
.option{
  margin-top: 1rem;
  /* margin-bottom: rem; */
  display: flex;
  justify-content: center;
  
}
.moveList{
  margin-top: 3rem;
}

.moveList img{
  width: 300px;
  padding: 10px;
  /* margin-top: 0.5rem; */
}
.profile{
  text-align: center;
  margin-top: 8rem;
}
.profile img{
  width: 200px;
  border-radius: 50%;
}
.profile button{
  padding: 5px 10px;
  font-size: medium;
  margin-top: 1.5rem;
}
.profile h2{
  color:#6E83CF;
}

.login{
  text-align: center;
  margin-top: 17rem;
  /* margin: auto; */
}
