* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
} 

body {
  background: linear-gradient(#182f3e, #030c12);
  min-height: 100vh;
  z-index: 0;
}

.login {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

.popcorn_img {
  width: 12em;
  margin: 4em 0em 2em 0em;
}

.logo {
  font-size: 3em;
}

.login_btn {
  width: 10em;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.285);
  font-weight: bold;
  font-size: 1em;
}

.login_btn:focus {
  cursor: pointer;
  background-color: #f4a261;
  outline: none;
}

.profile_img {
  border-radius: 50%;
  width: 2.3em;
  border: solid 1px #f4a261;
  position: absolute;
  top: 13px;
  left: 20px;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.menu_link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s linear 300ms, opacity 300ms;
  text-align: center;
  backdrop-filter: blur(17px) brightness(60%);
  z-index: -1;
  position: relative;
}

.menu_link {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo_navbar {
  position: absolute;
  top: 15px;
  right: 70px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  transition: visibility 3s linear 300ms, opacity 300ms;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.category_bar {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;
  width: 10em;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.562);
  font-weight: bold;
  font-size: 1em;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.category_bar {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(255, 255, 255) 50%),
    linear-gradient(135deg, rgb(255, 255, 255) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(0.8em + 2px),
    calc(100% - 15px) calc(0.8em + 2px),
    calc(100% - 2.5em) 0.3em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
}

.category_bar::part(button){
  background-color: red;
}

.category_bar::part(listbox){
  background-color: red;
}

.option {
  display: flex;
  justify-content: center
}

.movie-card {
  display: grid;
  justify-items: center;
}

.card-img {
  width: 95vw;
  height: 142vw;
  border-radius: 10px;
  background-size: contain;
  display: grid;
  align-items: end;
  align-content: flex-end;
  padding: 0.5em;
}

.hidden {
  transition: display 4000ms;
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.5s, opacity 200ms;
}

.visible {
  /* transform: translateY(-130px); */
  height: 125%;
  transform: translateY(-90px);
  opacity: 1;
  transition: transform 0.5s, opacity 200ms;
}

.movie-card_main {
  position: relative;
}

.movie__description {
  background: white;
  padding: 1em;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.movie__description > * {
  margin: 0.5em 0;
  color: black;
}

.movie__description > p {
  font-size: 1.5em;
}

.movie-releasedate {
  color: rgba(0, 0, 0, 0.338);
}

.movie-rating {
  font-size: 1.5em;
}

.movie-title {
  font-size: 2em;
}

.voting-buttons {
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
}

.voting-buttons_btn {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
}

.match {
  display: grid;
  justify-items: center;
}

.match-input {
  width: 15em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.633);
  font-size: 1em;
  margin: 1em;
}

.match-heading, .liked-movies_heading {
  font-size: 2.5em;
}

.match-img {
  width: 50vw;
}

.match-card {
  display: grid;
  justify-items: center;
  margin-bottom: 3em;
}

.match-card-title {
  font-size: 1.5em;
}

.liked-movies_section {
  display: grid; 
  justify-items: center;
}

.liked-movies_list {
  display: grid;
  margin-top: 2em;
}

.liked-movie {
  display: flex;
  margin: 1.5em 1em;
}

.liked-movie_img {
  width: 35vw;
  margin-right: 0.5em;
}

.liked-movie_info{
  display: grid;
  padding: 0.5em;
  align-items: end;
}

.remove-btn {
  width: 5em;
  padding: 0.2em 0;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.414);
  color: rgba(255, 255, 255, 0.414);
  justify-self: end;
}